.main {
    width: 100%;
}

.formView {
    width: 60%;
    margin: 0 auto;
}

.button-container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}